/* #back-button {
    display: none !important;
}

#forward-button {
    display: none !important;
}

#TabsToolbar {
    display: none !important;
}

#star-button-box {
    display: none !important;
} */